<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" heigt="100%" width="100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="/css/sweetalert.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

    <script src="/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="/js/jquery.form.min.js"></script>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="/js/xtalert.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/taskonline/setTimeChoose.js"></script>
    <script src="/js/taskonline/controller.js"></script>
    <script src="/js/taskonline/htmlUtils.js"></script>
    <script src="/js/taskonline/rest.js"></script>
    <script src="/js/taskonline/task.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="/js/taskonline/showStatistic.js"></script>
    <title>主页</title>
</head>
<body style="position: absolute; width: 100%; min-height: 100%; height: auto;">
<!-------------------------------------主页正文------------------------------------------------->
<div style="position: absolute; min-height: 100%; height: auto; width: 100%;">
    <!--------------------------------------导航栏-------------------------------------------------->
    <div id="navbar" style="position: relative; margin-bottom: 30px;">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">在线作业系统</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="javascript:void(0);" onclick="showCreateCourseHtml()">创建课程</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                课程
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="showTeacherCourses()">所有课程<span class="badge"
                                                                                                           style="margin-left: 10px"></span>
                                </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);" onclick="showTeacherCourseOfNotEnd()">有效课程<span
                                        class="badge"
                                        style="margin-left: 10px"></span>
                                </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);" onclick="showTeacherEndCourse()">已结束课程<span
                                        class="badge"
                                        style="margin-left: 10px"></span>
                                </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                作业
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="showSubmitTasksOfTeacher()">学生作业<span class="badge"
                                                                                                        style="margin-left: 10px"></span>
                                </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);" onclick="showSubmitTaskOfTeacherNotPass()">待批改作业<span class="badge"
                                                                                                    style="margin-left: 10px"></span>
                                </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);" onclick="showSubmitTaskOfTeacherPass()">已批改作业<span class="badge"
                                                                                                    style="margin-left: 10px"></span>
                                </a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="img-circle" style="height: 25px;width: 25px"
                                     th:src="'/getIcon/'+${tea?.icon}" alt="头像"/>
                                <span th:text="${tea?.tname}"></span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/tea/info/">我的信息<span class="badge" style="margin-left: 10px"></span></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/tea/info/pwd">修改密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">注销</a></li>
                            </ul>
                        </li>
                        <li><a href="#">我的消息<span class="badge" style="margin-left: 10px">1</span></a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <!-------------------------------------以上是导航栏--------------------------------------------->
    <!--------------------------------------内容显示---------------------------------------------------->
    <div id="container" class="container" style="margin-bottom: 5%">










    </div>
    <!-------------------------------------以上是内容显示------------------------------------------------->
    <!------------------------------------------页尾-------------------------------------------------->
    <div class="page-footer"
         style="position: absolute;;bottom: 0px; display: block; width: 100%;text-align: center;width=100%;background: #1fd783">
        <span>关于我们</span><span>&nbsp;&nbsp;</span><span>联系方式：18888888888</span><br>
        <span>备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">赣ICP备18010543号-1</a></span>
    </div>
    <!----------------------------------------以上是页尾----------------------------------------------->
    <!--------------------------------------以上是主页正文-------------------------------------------->
</div>
<!----------------------------thymeleaf下的非前后端分离的消息显示-------------------------------->
<div th:if="${msg}  != null">
    <span id="showMsg" hidden="hidden" th:text="${msg}"></span>
    <script type="text/javascript">
        xtalert.alertInfo($("#showMsg").text());
    </script>
</div>
<!-------------------------------以上是thymeleaf下的非前后端分离的消息显示-------------------------->
<script>
    //主页默认显示所有课程
    showTeacherCourses();
</script>
</body>
</html>